# Byggemapper
api/bin/
api/obj/

# Visual Studio og genererte filer
*.user
*.suo
*.cache
*.log
*.pdb

# NuGet og MSBuild cache
project.assets.json
project.nuget.cache
*.AssemblyReference.cache
*.g.props
*.g.targets
*.GeneratedMSBuildEditorConfig.editorconfig

# --- Resharper / Rider ---
.idea/
*.sln.iml

# --- VS Code ---
.vscode/

# --- macOS ---
.DS_Store
